@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: local("Poppins"), local("Poppins-ExtraLight"),
    url(./src/assets/fonts/poppins-extralight-webfont.woff2) format(woff2),
    url(./src/assets/fonts/poppins-extralight-webfont.woff) format(woff);
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: local("Poppins"), local("Poppins-Regular"),
    url(./src/assets/fonts/poppins-regular-webfont.woff2) format(woff2),
    url(./src/assets/fonts/poppins-regular-webfont.woff) format(woff);
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: local("Poppins"), local("Poppins-SemiBold"),
    url(./src/assets/fonts/poppins-semibold-webfont.woff2) format(woff2),
    url(./src/assets/fonts/poppins-semibold-webfont.woff) format(woff);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
  /* Style-guide color was hsl(229, 6%, 66%). I changed it to below for better contrast */
  color: #3e4046;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.top-section {
  max-width: 500px;
  text-align: center;
}

.top-section__title {
  color: hsl(234, 12%, 34%);
  font-size: 1.5rem;
}

.top-section__title span {
  font-weight: 200;
}

.top-section__text {
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-top: 20px;
}

.card-section {
  margin-top: 52px;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 360px;
  padding: 24px 30px;
  border-top: 4px solid black;
  border-radius: 6px;
  box-shadow: 0 12px 18px hsla(213, 38%, 47%, 0.2);
  margin-top: 24px;
}

.card--cyan {
  border-color: hsl(180, 62%, 55%);
}

.card--red {
  border-color: hsl(0, 78%, 62%);
}

.card--orange {
  border-color: hsl(34, 97%, 64%);
}

.card--blue {
  border-color: hsl(212, 86%, 64%);
}

.card__title {
  color: hsl(234, 12%, 34%);
  font-size: 1.25rem;
}

.card__text {
  font-size: 0.8125rem;
  line-height: 1.7;
  margin-top: 7px;
}

.card__icon {
  display: block;
  width: 100%;
  width: 56px;
  height: 56px;
  align-self: flex-end;
  margin-top: 34px;
}

/* ------------ Media Queries ------------ */

@media (min-width: 650px) {
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
}

@media (min-width: 1100px) {
  .top-section__title {
    font-size: 2.2812rem;
    line-height: 1.4;
  }

  .top-section__text {
    margin-top: 16px;
  }

  .card-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    margin-top: 66px;
  }

  .card {
    max-width: 350px;
    padding: 32px;
    padding-top: 26px;
    margin-top: 0px;
  }

  .card--cyan {
    grid-row: 2 / span 2;
  }

  .card--red {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .card--orange {
    grid-column: 2;
    grid-row: 3 / span 2;
  }

  .card--blue {
    grid-column: 3;
    grid-row: 2 / span 2;
  }

  .card__text {
    margin-top: 8px;
  }

  .card__icon {
    width: 64px;
    height: 64px;
    margin-top: 40px;
  }
}
